.row
  - if @diff.binary_identical?
    .col-lg-12
      .alert.alert-success(role="alert")
        The files are binary identical.
  - else
    Changeset:
    %ul
      - @diff.cs.axiom_changes.each do |change|
        %li
          %code&= change.toString

    Entities
    %pre
      = @diff.entities.map(&:iri).map(&:to_string)
    New Entities
    %pre
      = @diff.new_entities.map(&:iri).map(&:to_string)
    Modified Entities
    %pre
      = @diff.modified_entities.map(&:iri).map(&:to_string)
    Removed Entities
    %pre
      = @diff.removed_entities.map(&:iri).map(&:to_string)
  .col-lg-6
    %pre

      &= @o1.read
  .col-lg-6
    %pre
      &= @o2.read
