.row
  - if @diff.binary_identical?
    .col-lg-12
      .alert.alert-success(role="alert")
        The files are binary identical.
  - else
    .col-lg-6
      %h2 Changes
      - OntologyChange::TYPES.each do |change_type|
        %h3= change_type.to_s
        - @diff.changed_axioms.select{|change| change.type == change_type}.each do |change|
          %span.label{}
            &= change.value
    .col-lg-6
      Entities
      %ul
        - @diff.entities.each do |entity|
          %li
            = ShortFormService.shorten entity
      New Entities
      %ul
        = @diff.new_entities.each do |entity|
          %li
            = ShortFormService.shorten entity
      Modified Entities
      %ul
        = @diff.modified_entities.each do |entity|
          %li
            = ShortFormService.shorten entity
      Removed Entities
      %ul
        = @diff.removed_entities.each do |entity|
          %li
            = ShortFormService.shorten entity
.row
  .col-lg-6
    %pre

      &= @o1.read
  .col-lg-6
    %pre
      &= @o2.read
